<!DOCTYPE html>
<html>
	<head>
		<title> Profile Change </title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script type = "text/javascript" src="/javascripts/click.js"></script>
	</head>
	<body>
		<!-- modal창 만들기 -->
		<div id = "background" class = "background">
			<div id = "myModal" class = "modal">
				<div class = "modal-header">
					<span class = "close">&times;</span>
					<h2>정보수정하기</h2>
				</div>
				<div class = "modal-body">
					<span id = "information"></span><br>
					<input id = "info_input" type = "text">
				</div>
				<div class = "modal-footer">
					<button id = "save">저장하기</button>
				</div>
			</div>
		</div>

		<!-- 프로필 정보를 나타낸다 -->
		<div id = "root">
			<h1>프로필</h1> <br>
			<p> 이름</p>
			<div class="profile">
				<%= c_name %>
			</div>
			<p>이메일</p>
			<div class = "profile">
				<%= c_email %>
				<button id = "email_change">수정</button>
			</div>
			<p>연락처</p>
			<div class = "profile">
				<%= c_phone %>
				<button id = "phone_change">수정</button>
			</div>
		</div>
	</body>
</html>
